In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv("/content/creditcard_1.csv")

In [3]:
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15936 entries, 0 to 15935
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    15936 non-null  int64
 1   V1      15936 non-null  float64
 2   V2      15936 non-null  float64
 3   V3      15936 non-null  float64
 4   V4      15936 non-null  float64
 5   V5      15936 non-null  float64
 6   V6      15936 non-null  float64
 7   V7      15936 non-null  float64
 8   V8      15936 non-null  float64
 9   V9      15936 non-null  float64
 10  V10     15936 non-null  float64
 11  V11     15936 non-null  float64
 12  V12     15936 non-null  float64
 13  V13     15936 non-null  float64
 14  V14     15936 non-null  float64
 15  V15     15936 non-null  float64
 16  V16     15936 non-null  float64
 17  V17     15936 non-null  float64
 18  V18     15936 non-null  float64
 19  V19     15936 non-null  float64
 20  V20     15936 non-null  float64
 21  V21     15936 non-null  float64
 22  V22     15936 non-null  float64
 23  V23     15935 non-null  float64
 24  V24     15935 non-null  float64
 25  V25     15935 non-null  float64
 26  V26     15935 non-null  float64
 27  V27     15935 non-null  float64
 28  V28     15935 non-null  float64
 29  Amount  15935 non-null  float64
 30  Class   15935 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 3.8 MB

In [5]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [6]:
df['Class'].value_counts()

0.0    15862
1.0       73
Name: Class, dtype: int64

In [7]:
real=df[df.Class==0]
fraud=df[df.Class==1]

In [8]:
real.Amount.describe()

count    15862.000000
mean        66.280151
std        188.898885
min          0.000000
25%          5.522500
50%         15.950000
75%         53.890000
max       7712.430000
Name: Amount, dtype: float64

In [9]:
fraud.Amount.describe()

count      73.000000
mean       90.307123
std       271.634360
min         0.000000
25%         1.000000
50%         1.000000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [10]:
df.groupby('Class').mean()

               Time        V1       V2  ...       V27       V28     Amount
Class                                   ...
0.0    12104.432165 -0.219072  0.25000  ...  0.011206  0.005907  66.280151
1.0    15559.643836 -7.929807  6.19312  ...  0.927187  0.061380  90.307123

[2 rows x 30 columns]

In [11]:
real_sample=real.sample(n=73)

In [12]:
df_new=pd.concat([real_sample,fraud],axis=0)

In [13]:
df_new.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
8120   11027  1.266732 -0.051053  0.535732  ... -0.092579 -0.012657   14.95    0.0
15635  27043  1.304407 -0.617224 -0.351864  ...  0.001741  0.040590   85.80    0.0
14637  25852  1.093357 -0.305285 -1.215407  ...  0.009522  0.033203  104.59    0.0
5957    6604 -1.357564 -0.731763  0.776146  ...  0.426627  0.032622   12.99    0.0
10481  17173  0.953532 -1.423232  0.241622  ... -0.037099  0.037618  241.11    0.0

[5 rows x 31 columns]

In [15]:
df_new['Class'].value_counts()

1.0    73
0.0    73
Name: Class, dtype: int64

In [18]:
x=df_new.drop(columns='Class',axis=1)
y=df_new['Class']

In [19]:
print(x)

        Time         V1         V2  ...       V27       V28  Amount
8120   11027   1.266732  -0.051053  ... -0.092579 -0.012657   14.95
15635  27043   1.304407  -0.617224  ...  0.001741  0.040590   85.80
14637  25852   1.093357  -0.305285  ...  0.009522  0.033203  104.59
5957    6604  -1.357564  -0.731763  ...  0.426627  0.032622   12.99
10481  17173   0.953532  -1.423232  ... -0.037099  0.037618  241.11
...      ...        ...        ...  ...       ...       ...     ...
15566  26961 -23.237920  13.487386  ...  1.481233  0.438125   99.99
15736  27163 -23.914101  13.765942  ...  1.458076  0.430315   99.99
15751  27187 -24.590245  14.044567  ...  1.434951  0.422492   99.99
15781  27219 -25.266355  14.323254  ...  1.411855  0.414656   99.99
15810  27252 -25.942434  14.601998  ...  1.388786  0.406810   99.99

[146 rows x 30 columns]

In [20]:
print(y)

8120     0.0
15635    0.0
14637    0.0
5957     0.0
10481    0.0
        ...
15566    1.0
15736    1.0
15751    1.0
15781    1.0
15810    1.0
Name: Class, Length: 146, dtype: float64

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [22]:
print(x.shape,x_train.shape,x_test.shape)

(146, 30) (116, 30) (30, 30)

In [23]:
model=LogisticRegression()

In [26]:
model.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [27]:

x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [28]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9827586206896551

In [29]:
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [30]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9