In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
df=pd.read_csv("/content/creditcard.csv")

In [5]:
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114962 entries, 0 to 114961
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    114962 non-null  int64
 1   V1      114962 non-null  float64
 2   V2      114962 non-null  float64
 3   V3      114962 non-null  float64
 4   V4      114962 non-null  float64
 5   V5      114962 non-null  float64
 6   V6      114962 non-null  float64
 7   V7      114962 non-null  float64
 8   V8      114962 non-null  float64
 9   V9      114962 non-null  float64
 10  V10     114962 non-null  float64
 11  V11     114962 non-null  float64
 12  V12     114961 non-null  float64
 13  V13     114961 non-null  float64
 14  V14     114961 non-null  float64
 15  V15     114961 non-null  float64
 16  V16     114961 non-null  float64
 17  V17     114961 non-null  float64
 18  V18     114961 non-null  float64
 19  V19     114961 non-null  float64
 20  V20     114961 non-null  float64
 21  V21     114961 non-null  float64
 22  V22     114961 non-null  float64
 23  V23     114961 non-null  float64
 24  V24     114961 non-null  float64
 25  V25     114961 non-null  float64
 26  V26     114961 non-null  float64
 27  V27     114961 non-null  float64
 28  V28     114961 non-null  float64
 29  Amount  114961 non-null  float64
 30  Class   114961 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 27.2 MB

In [9]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [10]:
df['Class'].value_counts()

0.0    114719
1.0       242
Name: Class, dtype: int64

In [12]:
real=df[df.Class == 0]
fraud=df[df.Class == 1]

In [13]:
print(real.shape,fraud.shape)

(114719, 31) (242, 31)

In [14]:
real. Amount.describe()

count    114719.000000
mean         94.859137
std         257.024232
min           0.000000
25%           6.990000
50%          25.000000
75%          85.250000
max       19656.530000
Name: Amount, dtype: float64

In [15]:
fraud.Amount.describe()

count     242.000000
mean      119.435331
std       254.330814
min         0.000000
25%         1.000000
50%         8.565000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [16]:
df.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0.0    46095.931415 -0.242322 -0.023224  ... -0.000104  0.001924   94.859137
1.0    39270.280992 -5.942308  4.133122  ...  0.533591  0.065613  119.435331

[2 rows x 30 columns]

In [17]:
real_sample=real.sample(n=242)

In [18]:
df_new=pd.concat([real_sample,fraud],axis=0)

In [19]:
df_new.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
92323  63877  1.157991 -0.014467 -0.508259  ... -0.085574  0.002358   91.90    0.0
29145  35340  1.521060 -0.895652  0.593763  ...  0.032848  0.022237    1.00    0.0
97330  66167  1.091269 -0.029638  0.550462  ...  0.026426  0.021669   49.99    0.0
37352  38918  1.095599 -1.083928  0.094691  ... -0.012501  0.024232  150.00    0.0
96802  65943  0.698032 -0.986674 -0.118035  ...  0.021560  0.064117  233.32    0.0

[5 rows x 31 columns]

In [20]:
df_new['Class'].value_counts()

1.0    242
0.0    242
Name: Class, dtype: int64

In [21]:
X = df_new.drop(columns='Class', axis=1)
Y = df_new['Class']

In [23]:
print(X)

         Time        V1        V2  ...       V27       V28  Amount
92323   63877  1.157991 -0.014467  ... -0.085574  0.002358   91.90
29145   35340  1.521060 -0.895652  ...  0.032848  0.022237    1.00
97330   66167  1.091269 -0.029638  ...  0.026426  0.021669   49.99
37352   38918  1.095599 -1.083928  ... -0.012501  0.024232  150.00
96802   65943  0.698032 -0.986674  ...  0.021560  0.064117  233.32
...       ...       ...       ...  ...       ...       ...     ...
108258  70828  0.196707  1.189757  ...  0.135215  0.257315    0.76
108708  71033 -3.170818  0.185735  ...  0.859282  0.225924  426.40
111690  72327 -4.198735  0.194121  ...  1.249414 -0.131525  238.90
112840  72824 -1.111495 -0.257575  ...  0.026762 -0.358335   45.03
114271  73408 -2.869795  1.335667  ...  0.349191  0.198862   16.48

[484 rows x 30 columns]

In [24]:
print(Y)

92323     0.0
29145     0.0
97330     0.0
37352     0.0
96802     0.0
         ...
108258    1.0
108708    1.0
111690    1.0
112840    1.0
114271    1.0
Name: Class, Length: 484, dtype: float64

In [25]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [26]:
print(X.shape, X_train.shape, X_test.shape)

(484, 30) (387, 30) (97, 30)

In [27]:
model = LogisticRegression()

In [28]:
model.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [29]:

X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [30]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9431524547803618

In [31]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [32]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9587628865979382